# The MariaDB configuration file
#
# The MariaDB/MySQL tools read configuration files in the following order:
# 0. "/etc/mysql/my.cnf" symlinks to this file, reason why all the rest is read.
# 1. "/etc/mysql/mariadb.cnf" (this file) to set global defaults,
# 2. "/etc/mysql/conf.d/*.cnf" to set global options.
# 3. "/etc/mysql/mariadb.conf.d/*.cnf" to set MariaDB-only options.
# 4. "~/.my.cnf" to set user-specific options.
#
# If the same option is defined multiple times, the last one will apply.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# If you are new to MariaDB, check out https://mariadb.com/kb/en/basic-mariadb-articles/

#
# This group is read both by the client and the server
# use it for options that affect everything
#
[client-server]
# Port or socket location where to connect
port = 3306
socket = /run/mysqld/mysqld.sock

# Import all .cnf files from configuration directory
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/

[mysqld]
#collation-server = utf8_unicode_ci
#character-set-server = utf8
# Only allow connections from localhost
#bind-address = 127.0.0.1
#bind-address = 0.0.0.0
#character_set_server=UTF8MB4
#default-authentication-plugin=mysql_native_password
#mysqlx-bind-address = 127.0.0.1
#sql_mode = STRICT_TRANS_TABLES,
sql_mode =
#sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
#NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
#sql_mode = NO_ZERO_IN_DATE,NO_ZERO_DATE
#,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
innodb_file_per_table
#innodb_undo_tablespaces=2
#innodb_undo_directory=2
#innodb_undo_log_truncate
#lower_case_table_names = 2
sort_buffer_size = 512k